{
    "extends": [
        "incredible"
    ],
    "rules": {
        "more/no-hardcoded-password": 0,
        "unicorn/catch-error-name": 0,
        "unicorn/text-encoding-identifier-case": 0
    },
    "overrides": [{
        "files": "tests/examples/*test.js",
        "rules": {
            "security/detect-non-literal-require": 0
        }
    }]
}
